.cardbook{
    @extend .container;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 20px;
    & ul{
        border: 1px solid black;
        display: flex;
        flex-direction: column;
        justify-self: center;
        align-items: center;
        column-gap: 30px;
        width: 70%;
        row-gap: 5px;
        padding: 10px;
        background-color: aliceblue;
        li{
            max-width: 170px;
        }
    }
    &__image{
        max-width: 200px;
        max-height: 200px;
    }
    &__title{
        font-size: 20px;
    }
}